<% layout('/layouts/boilerplate') %>
  <div class="row d-flex justify-content-center mb-3">
    <h1 class="text-center">Campground Show</h1>
    <div class="col-6">
      <div class="card" style="min-width: 8rem;">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner" >
            <% 
            let i = 0
            if(campground.image.length>0)
            {
              for(let img of campground.image)
                {
                  %>  
                    <div class="carousel-item <%= (i===0) ? 'active' : '' %>">
                      <img src="<%= img.url %>" class="d-block w-100 img-thumbnail " alt="Card image cap">
                    </div>
                  <%
                  i++
                }
            }
            else
            {
              %>
              <img src="https://res.cloudinary.com/dotr7u5kq/image/upload/v1656400142/YelpCamp/default_cs2hvk.png" class="d-block w-100 img-thumbnail " alt="Card image cap">
              <%
            }
            %> 
          </div>
          <%
            if(campground.image.length>1)
            {
              %>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
              <%
            }
          %>
        </div>



        
        <div class="card-body">
          <h5 class="card-title">Title: <%= campground.title %>
          </h5>
          <p class="card-text">Description: <%= campground.description %>
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-muted">Location: <%= campground.location %>
          </li>
          <li class="list-group-item text-muted">Submited by <%= campground.author.username %>
          </li>
          <li class="list-group-item">Price: <%= campground.price %>$/night </li>
        </ul>
        <% if(currUser && currUser._id.equals(campground.author._id)) { %>
          <div class="card-body">
            <a class="btn btn-primary" href="/campgrounds/<%=campground._id%>/edit" class="card-link">Edit</a>
            <form class=" d-inline" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
              <button class=" btn btn-danger">Delete</button>
            </form>
          </div>
          <% } %>
            <div class="card-footer text-muted">
              2 days ago
              <a class="btn btn-primary my-1" href="/campgrounds" class="card-link">Back to campgrounds</a>
            </div>
      </div>
    </div>
    <div class="col-6" >
      <div id='map' class="mb-3" style='width: 100%; height: 300px;'></div>
      <% if(currUser) { %>
        <h2>Leave a review</h2>
        <form action="/campgrounds/<%=campground._id%>/reviews" style="min-width:8rem;" method="POST"
          class="mb-3 validated-form" novalidate style="width: 18rem;">
          <div class="mb-3">
            <fieldset class="starability-slot" >
              <legend>Rating:</legend>
              <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
              <input type="radio" id="first-rate1" name="review[rating]" value="1" />
              <label for="first-rate1" title="Terrible">1 star</label>
              <input type="radio" id="first-rate2" name="review[rating]" value="2" />
              <label for="first-rate2" title="Not good">2 stars</label>
              <input type="radio" id="first-rate3" name="review[rating]" value="3" />
              <label for="first-rate3" title="Average">3 stars</label>
              <input type="radio" id="first-rate4" name="review[rating]" value="4" />
              <label for="first-rate4" title="Very good">4 stars</label>
              <input type="radio" id="first-rate5" name="review[rating]" value="5" />
              <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>
          </div>
          <div class="mb-3">
            <label class="form-label" for="body">Make a review</label>
            <textarea class="form-control w-100" name="review[body]" id="body" required></textarea>
            <div class="valid-feedback">
              Review looks good!
            </div>
            <div class="invalid-feedback">
              Please type your review!
            </div>
          </div>
          <button class="btn btn-success">Submit</button>
        </form>
        <% } %>

          <h2>All the reviews</h2>
          <div style="overflow-y:scroll; height:400px;">
            <% for(let review of campground.reviews) { %>
              <div class="card mb-3" style="min-width:8rem;" >
                <div class="card-header d-flex justify-content-between">
                  Review of <%=review.author.username%>
                  <%
                    if(currUser && currUser._id.equals(review.author._id))
                    {
                      %>
                      <form action="/campgrounds/<%=campground._id%>/reviews/<%=review._id%>?_method=DELETE"
                      method="POST">
                      <button class="btn btn-sm btn-danger">DELETE</button>
                      </form>
                      <%
                    }
                  %>
                </div>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <footer class="blockquote-footer">Rating: 
                      <cite title="Source Title">
                          <p class="starability-result"  data-rating="<%=review.rating%>">
                          </p>
                      </cite>
                      </footer>
                    <p>
                      <%=review.body%>.
                    </p>
                  </blockquote>
                </div>
              </div>
              <% } %>
          </div>
    </div>
  </div>


<script>
    const mapToken = '<%- process.env.MAPBOX_TOKEN %>'
    const campground = <%- JSON.stringify(campground) %>
</script>
<script src="/javascripts/showMap.js"></script>